*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    background-color: #F5E79D;
    
}
.container {
    display: grid;
    max-width: 100%;
    min-width: 632px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr;
    background-color: #fff;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
}

.o-header {
    grid-column: 1 / 1;
    grid-row: 1 / 1 ;
}

.o-main {
    grid-column: 1 /  1;
    grid-row: 2/2;
    
}

.o-footer {
    grid-column: 1/1;
    grid-row: 3/3 ;
}

@media screen and (max-width:872px) {

    nav .login {
        padding: 3px;
    }

    .main-photo {
        padding-top: 15rem;
    }

    .novos-produtos h1 {
        display: grid;
        padding: 2rem 0;
        justify-content: center;
    }

    .novos-produtos .produtos {
        text-align: center;
        display: grid;
        justify-content: center;
    }

    .mais-produtos .novos {
        display: grid;
        justify-content: center;
    }

    .mais-produtos div {
        padding: 2rem;
    }

    .mais-produtos h1 {
        
        text-align: center;
        padding: 0;
    }
}